

/*label for my name on the header*/
.label{
	font-size: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top:30px
	margin-top: 30px;
	z-index: 100;
	float:left;
	background-color:#5ba;

}

/*sytling the main row*/

#mainrow{
  
    height: 800px;
}

#subrowcoln{
 
 
    height: 600px;
  
}
/*set new height and width for section*/
section{
	height: 580px;
	width: 520px;
	margin-left: 30px;
	

}
/*positive of images are relative to article*/
article{
	position: relative;
}
#photo1{
	position: absolute;
	top:10px;
	left:10px;

}

#photo2{
	position: absolute;
	top:10px;
	right:10px;

}

#photo3{
	position: absolute;
	top:280px;
	left:10px;
}

#photo4{
	position: absolute;
	top:280px;
	right:10px;

}

/*styling image text*/
#head1{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 225px;
	height: 40px;
	color:#fff;
	text-align: center;
	position: absolute;
	top:155px;
	left:0px;
	z-index: 2
}

#head2{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 225px;
	height: 40px;
	color:#fff;
	text-align: center;
	position: absolute;
	top:155px;
	right:0px;
	z-index: 2
}
#head3{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 223px;
	height: 40px;
	color:#fff;
	text-align: center;
	position: absolute;
	top:155px;
	right:0px;
	z-index: 2
}
#head4{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 225px;
	height: 40px;
	color:#fff;
	text-align: center;
	position: absolute;
	top:155px;
	right: :0px;
	z-index: 2
}



