#mainrow{
	background-image: url("../images/backgroundimage.jpg");
	padding:30px;
	height: 500px;
}

#aboutme{
	color:#4aaaa5;
	font-size: 30px;
	padding-bottom: 20px;

}
/* subrowcoln is text/image box under the about me*/
#subrowcoln{
	text-align: center;
	background-color: gray;
	opacity: .8;
	padding-top: 30px;
	height: 300px;
	border: 1px solid lightgray;



}

#myimage{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
	border:10px inset #4aaaa5;	
	padding-top: 0;
}



/* col with three icon*/

.col-md-3{
	background-color: #DCDCDC;
	padding-right:20px;
	padding-left:30px;
	padding-bottom: 20px;
	
	border: 2px solid gray;


}

/* connect with me styling*/

#connect{
	color:#4aaaa5;
	font-size: 25px;
	padding-bottom: 20px;

}

footer{
	background-color: black;
	color: white;
	height: 60px;
	text-align: center;
	padding: 30px;
}